<h2>Editing celebrity's data</h2>
<form method="POST" action="/celebrities/{{celeb._id}}">
  <div class="mb-3">
    <label for="createName" class="form-label">Name</label>
    <input value="{{celeb.name}}" name="myName" type="text" class="form-control" id="createName">
  </div>
  <div class="mb-3">
    <label for="createOcc" class="form-label">Occupation</label>
    <input value="{{celeb.occupation}}" name="myOcc" type="text" class="form-control" id="createOcc">
  </div>
  <div class="mb-3">
    <label for="createCatchPhrase" class="form-label">Catch Phrase</label>
    <input value="{{celeb.catchPhrase}}" name="myCatchPhrase" type="text" class="form-control" id="createCatchPhrase">
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>