<h2>Celebrities List</h2>
{{#each data}}
  <div>{{this.name}}</div>
  <a href="/celebrities/{{this._id}}">More Info?</a>
  <div class='edits'>
    <form method="POST" action="/celebrities/{{this._id}}/delete">
      <button type="submit" class="btn btn-primary">Delete</button>
    </form>
    <a href="/celebrities/{{this._id}}/edit">Edit</a>
  </div>
  <br>
{{/each}}
<br>
<a href="/celebrities/new">Add a celebrity</a>