<h2>Add a celebrity to the list!</h2>
<form method="POST" action="/celebrities">
  <div class="mb-3">
    <label for="createName" class="form-label">Name</label>
    <input name="myName" type="text" class="form-control" id="createName">
  </div>
  <div class="mb-3">
    <label for="createOcc" class="form-label">Occupation</label>
    <input name="myOcc" type="text" class="form-control" id="createOcc">
  </div>
  <div class="mb-3">
    <label for="createCatchPhrase" class="form-label">Catch Phrase</label>
    <input name="myCatchPhrase" type="text" class="form-control" id="createCatchPhrase">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>